.vt-window {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.vt-window.virtual {
  position: fixed;
  z-index: 9999990;
  z-index: 0;
}
.vt-window.virtual.focus {
  z-index: 1;
}
.vt-window.windowed {
  position: static;
}
.vt-window.windowed [name='header'] {
  display: none;
}
.vt-window.windowed [name='controls'] {
  display: none;
}
.vt-window.minimized {
  position: fixed;
  top: auto !important;
  bottom: 0px !important;
  width: 200px !important;
  height: auto !important;
}
.vt-window.minimized [name='popout'],
.vt-window.minimized [name='maximize'],
.vt-window.minimized [name='close'] {
  display: none;
}
.vt-window.minimized [name='body'],
.vt-window.minimized [name='footer'] {
  display: none;
}
.vt-window.maximized {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: auto !important;
  height: auto !important;
}
.vt-window.maximized [name='body'] {
  overflow: auto;
}
.vt-window [name='header'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;

  opacity: 0.5;
  
  -webkit-user-select: none;
  user-select: none;
}
.vt-window.focus [name='header'] {
  opacity: 1;
}
.vt-window [name='title'] {

  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vt-window [name='controls'] button {
 
}
.vt-window [name='grab'] {
  cursor: nwse-resize;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
.vt-window [name='grab']:after {
  position: abosolute;
  display: block;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: '...';
}
.vt-window [name='body'] {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.vt-window.drag {
  will-change: top, left, width, height, transform;
}

.vt-window.low-end.drag {
  box-shadow: none !important;
  border: 1px solid gray;
}

.vt-window.low-end.drag {
  /* display: none; */
  /* transition: all 500ms linear; */
}

/* fix issued with iframes */
.vt-window:not(.focus) iframe {
  pointer-events: none;
}
.vt-window.drag [name='body'] {
  pointer-events: none;
}





[name="grab-t"],
[name="grab-r"],
[name="grab-b"],
[name="grab-l"],
[name="grab-tl"],
[name="grab-tr"],
[name="grab-br"],
[name="grab-bl"]{
  position: absolute;
  --size: 6px;
  --corner-size: 16px;
  --offset: 0px;
  background: rgba(255,0,255,0.25);
  z-index: 9;
}


[name="grab-t"] {
  top: 0px;
  left: var(--corner-size);
  right: var(--corner-size);
  height: var(--size);
  margin-top: var(--offset);
  cursor: ns-resize;
}
[name="grab-r"] {
  top: var(--corner-size);
  bottom: var(--corner-size);
  right: 0px;
  width: var(--size);
  margin-right: var(--offset); 
  cursor: ew-resize;
}
[name="grab-b"] {
  bottom: 0px;
  left: var(--corner-size);
  right: var(--corner-size);
  height: var(--size);
  margin-bottom: var(--offset);
  cursor: ns-resize;
}
[name="grab-l"] {
  top: var(--corner-size);
  bottom: var(--corner-size);
  left: 0px;
  width: var(--size);
  margin-left: var(--offset);
  cursor: ew-resize;
}
[name="grab-tl"] {
  top: 0px;
  left: 0px;
  width: var(--corner-size);
  height: var(--corner-size);
  margin-top: var(--offset);
  margin-left: var(--offset);
  cursor: nwse-resize;
}
[name="grab-tr"] {
  top: 0px;
  right: 0px;
  width: var(--corner-size);
  height: var(--corner-size);
  margin-top: var(--offset);
  margin-right: var(--offset);
  cursor: nesw-resize;
}
[name="grab-br"] {
  bottom: 0px;
  right: 0px;
  width: var(--corner-size);
  height: var(--corner-size);
  margin-bottom: var(--offset);
  margin-right: var(--offset);
  cursor: nwse-resize;
}
[name="grab-bl"] {
  bottom: 0px;
  left: 0px;
  width: var(--corner-size);
  height: var(--corner-size);
  margin-bottom: var(--offset);
  margin-left: var(--offset);
  cursor: nesw-resize;
}

